[submodule "df-structures"]
	path = df-structures
	url = https://github.com/DFHack/df-structures
	shallow = true
[submodule "dfhack"]
	path = dfhack
	url = https://github.com/dfhack/dfhack
	shallow = true
